#Sample host config for rmbackup

## The hostname of the server
#SSH_SERVER="host2342.example.com"

## An alias that should be used for the output and in logs. If not set, hostname will be used.
#SSH_ALIAS="example.com"

## The user that should be used for establishing the SSH connection
#SSH_USER="rmbackup"

## Additional parameters for rsync (e.g. the keyfile for passwordless logins)
#SSH_ARGS="-i .ssh/id_ed25519_rmbackup@host2342.example.com"

## The SSH port of the remote server (default: 22)
#SSH_PORT=22

## Path to the binary that's used for getting more privileges on the remote server like doas or sudo (default: /usr/local/bin/doas)
#PRIVILEGES_PATH="/usr/local/bin/doas"

## Path to the rsync binary on the remote server (default: /usr/local/bin/rsync)
#RSYNC_PATH="/usr/local/bin/rsync"

## Additional parameters for rsync (eg. verbose mode, exclude patterns). See man rsync for further information
#RSYNC_CONF="--ipv6 --exclude-from=/usr/local/etc/rmbackup.d/general.exclude"

# Directories that should be included in the backups. The list must be separated by spaces. Spaces in the path must be escaped ("\ ").
# REMOTE_SOURCES="/root /etc /home /var"
