#Sample conf for backup script

## SSH config for the remote server (default port is 22)

# The user that logs in to the remote server
SSH_USER="rmbackup"

# The hostname or IP of the remote server
SSH_SERVER="example.com"

# The SSH port of the remote server
SSH_PORT=22

# Arguments for SSH (i.e. your keyfile)
SSH_ARGS=""

# Which folders sould be backed up from the remote server?
REMOTE_SOURCES=(/root /etc /home /var)

# In which folder should we store the backups on the backup server 
# (subdirs for the server will be created by the script)?

TARGET="/Backups/"

# Additional command line parameters for ssh (verbose mode, exclude patterns...
# see man rsync for further information)
# RSYNC_CONF=(-v)

# Uncomment and add your address if you want to receive the script ouput via e-mail
#MAILREC="jdoe@example.com"

# How many backups should we keep (in days)
KEEP=14